{% extends 'base.html.twig' %}

{% block title %}réservation du {{ reservation.stringVisitDay() }}{% endblock %}

{% block body %}

<h1 class="h3 text-center mb-5">
    visite du {{ reservation.stringVisitDay() }} - 
    {% if reservation.halfDay %}
        demi-journée
    {% else %}
        journée entière
    {% endif %}
</h1>
<p>
    mail utilisé : {{ reservation.mail }}
</p>
<p class="mb-4">
    code de réservation : {{ reservation.getBookingCode() }}
</p>
<p>
    Vous n'avez pas reçu vos billets par mail ? Attendez une ou deux minutes. Si vous ne les recevez toujours pas, cliquez sur le bouton si dessous :
</p>
<p class="text-center"> {# faire un sendmail depuis bouton JS ? Possible ? #}
    <a class="btn btn-primary" href="{{ path('resend', {'slug' : reservation.slug}) }}">Renvoyer un mail</a>
</p>
{% for person in reservation.persons %}
    <h2 class="mt-5 h4">
        {{ person.firstName }} {{ person.name }}
    </h2>
    <table class="table table-primary" style="caption-side:top;!important">
        <tr>
            <th scope="row" style="width:50%">
                pays
            </th>
            <td>
                {{ person.country }}
            </td>
        </tr>
        <tr>
            <th scope="row" style="width:50%">
                date de naissance
            </th>
            <td>
                {{ person.stringBirthDate() }}
            </td>
        </tr>
        <tr>
            <th scope="row" style="width:50%">
                réduction
            </th>
            <td>
                {% if person.discount %}
                    oui (un justificatif devra être présenté)
                {% else %}
                    non
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" style="width:50%">
                prix du billet
            </th>
            <td>
                {% if reservation.halfDay %}
                    {{ priceService.priceHalfDay(person) }}
                {% else %}
                    {{ priceService.priceFullDay(person) }}
                {% endif %}
            </td>
        </tr>
    </table>
{% endfor %}

{% endblock %}
